.header-shadow {
    width: 100%;
    height: 5px;
    overflow: visible;
}
.header-shadow-content {
    margin:0px auto;
    width:100%;
    height:5px;
    background:#d9d9d9;
}

.mag-menu-row {
    text-align:center;
    float:left;
    width:100%;
    border:1px solid #000000;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#f1f1f1;
}
@media screen and (max-width:1000px){
  .mag-menu-row {
    padding-top:5px;
    padding-bottom:5px;
  }
}
@media screen and (max-width:400px){
  .mag-menu-row {
    padding-top:2px;
    padding-bottom:2px;
  }
}

.mag_nav_head  {
   font-weight : bold;
   font-size : 8pt;
   color : #000000;
   font-family : Arial, Helvetica, San Serif;
}
.mag_nav  {
   font-size : 8pt;
   font-family : Arial, Helvetica, San Serif;
}
.mag_nav a:link {
   color: #000000;
   text-decoration: none;
}

.mag_nav a:hover {
   color : red;
   text-decoration : underline;
}

