html{
    font-size: 62.5%; /* 10px */
}

/* import "partials/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    border: 0;
    vertical-align:top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
button{
    outline:none;
}

body {
    margin:0;
    padding:0;
    min-width:320px;
    line-height:1.4285;
    color:#333;
    background-color:#c5e5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
    margin:0px 0px 10px 0px;
    padding:0px;
}
select {margin:0; font-size:1.2rem; padding:4px;}
input {margin:0; font-size:1.2rem; padding:5px 10px; border:1px solid #a5a5a5; background-color:#eee;}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
div{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
pre{
    text-align: left;
    margin:0;
    padding:1em;
    border:1px solid #ccc;
    background-color:#eee;
    overflow: auto;
    display: inline-block;
    width:100%;
    max-width:600px;
    
    white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}


main,#main{
    display:block;
    margin-right:auto;
    margin-left:auto;
    background-color: #ffffff;
    min-width: 320px;
    max-width:1148px;
    font-size: 1em;
    width:100%;
    box-shadow: 0 0 5px 1px #666666;
}

@media screen and (max-width: 992px){
    #main{ 
        width:100%;
        margin:0;
    }
}


#content{
    width:100%;
    padding:1.2em 1.2em 0 1.2em;
    overflow: hidden;
    min-height:400px;
    background-color: #ffffff;
    font-size:1.2rem;
}
@media screen and (max-width:680px){
    #content{min-height:280px;}
}

/* typography */
a { color:#428bca; text-decoration: underline; }
a:hover, a:focus{ color:#2a6496; }

h1 { font-size: 2.4rem; line-height: 1em; font-weight: bolder; margin:0; padding:0; }
h2 { font-size: 1.8rem; line-height: 1.4em; font-weight: bold; margin:0; padding:0; }
h3 { font-size: 1.4rem; line-height: 1.2em; font-weight: bold; margin:0; padding:0; }
h4 { font-size: 1.3rem; line-height: 1.2em; font-weight: bold; margin:0; padding:0; }
h5 { font-size: 1.2rem; line-height: 1.2em; font-weight: bold; margin:0; padding:0; }

.smallTxt{font-size:1.1rem; padding-right:.5em;}

.row{display:block; overflow:hidden; width:100%; clear:both;}

.block{margin:0 0 10px 0;}
.padded{padding:.5em;}

.panel{
    overflow:hidden;
    margin:0 0 10px 0;
    border-color: #ddd;
    background-color: #fff;
    border:1px solid #ccc;
    color:#333;
}
.panel.rounded{
    border-radius:4px;
}
.panel > .panel-heading{
    padding:10px;
    color:#333;
    background-color:#f5f5f5;
    border-color:#ddd;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.panel > .panel-warning{
    padding:10px;
    color: #A80000;
    
    background-image: -webkit-linear-gradient(top,#f2dede 0,#ebcccc 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#ebcccc 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#ebcccc));
    background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
    background-repeat: repeat-x;
}
.panel > .panel-body {
    font-size: 1.2rem;
    padding:10px;
    overflow:hidden;
}
#anchor-hazards{ color:#A80000 }

.panel h1{ font-size: 1.8rem; line-height:1.4em; font-weight:bold; margin:0; padding:0; }
.panel h2{ font-size: 1.6rem; line-height:1.2em; font-weight:bold; margin:0; padding:0; }
.panel h3{ font-size: 1.4rem; line-height:1.2em; font-weight:bold; margin:0; padding:0; }
.panel h4{ font-size: 1.3rem; line-height:1.1em; font-weight:bold; margin:0; padding:0; }
.panel h5{ font-size: 1.2rem; line-height:1em; font-weight:700; margin:0; padding:0; }


/*  Tab styles */
/* Radiobutton hack tabs -> no-javascript */
.radio-tab-block > input[type="radio"]{
    position: absolute;
    display:none;
}

.radio-tab-block > label{
    display:inline-block;
    margin-right:4px;
    padding: 8px 14px;
    position: relative;
    z-index:5;

    font-size:1.2rem;
    font-weight:bold;
    color:#333;
    cursor:pointer;

    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    background-color:#f5f5f5;
    border-color:#ccc;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.radio-tab-block > .radio-tab{
    width:100%;
    position:relative;
    top:-1px;
    font-size:1.2rem;
    padding:0;
    background:#fff;
    display:none;
}

#toggle-radio-tab1:checked ~ label[for="toggle-radio-tab1"], 
#toggle-radio-tab2:checked ~ label[for="toggle-radio-tab2"],
#toggle-radio-tab3:checked ~ label[for="toggle-radio-tab3"],
#toggle-radio-tab4:checked ~ label[for="toggle-radio-tab4"]{
    background:#fff;
    border-bottom:1px solid #fff !important;
    filter:none;
    cursor:default;
}

#toggle-radio-tab1:checked ~ #tab1, 
#toggle-radio-tab2:checked ~ #tab2,
#toggle-radio-tab3:checked ~ #tab3, 
#toggle-radio-tab4:checked ~ #tab4{
    display:block;
}
/* end Radiobutton hack tabs -> no-javascript */


/* traditional tab with javascript */
.tab-container{
    position: relative;
    z-index: 15;
    margin:0;
    padding:0;
    color:#333;
    overflow: hidden;
}
.tab{
    list-style-type: none;
    float: left;
    width: auto;
    height: auto;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 4px;
    opacity: 1;
    
    cursor:pointer;
    
    background-color:#f5f5f5;
    border-color:#ccc;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.tab.active {
    background-color:#fff;
    background-image:none;
    filter:none;
    border-bottom:1px solid #fff;
}
.tab > a {
    display:block;
    font-size: 1.2rem;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

}
.tab-body-container{
    overflow: hidden;
    position:relative;
    top:-1px;
    border:1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding:1em;
}
.tab-body{
    display: none;
}
.tab-body.active{
    display:block;
}
/* end traditional tab with javascript */


.main-title{ color:#135897; }
.warning-title{ color:#a94442; }

.pull-left{float:left;}
.pull-right{float:right;}

.text-left{ text-align:left; }
.text-right{ text-align:right; }
.text-center{ text-align:center; }

.label{ font-weight:bold; }
.label-inline{ font-weight:bold; padding-right:.5em;}

.grid{ float:left; }
.grid.col-05{ width: 5%; }
.grid.col-10{ width: 10%; }
.grid.col-15{ width: 15%; }
.grid.col-20{ width: 20%; }
.grid.col-25{ width: 25%; }
.grid.col-30{ width: 30%; }
.grid.col-35{ width: 35%; }
.grid.col-40{ width: 40%; }
.grid.col-45{ width: 45%; }
.grid.col-50{ width: 50%; }
.grid.col-55{ width: 55%; }
.grid.col-60{ width: 60%; }
.grid.col-65{ width: 65%; }
.grid.col-70{ width: 70%; }
.grid.col-75{ width: 75%; }
.grid.col-80{ width: 80%; }
.grid.col-85{ width: 85%; }
.grid.col-90{ width: 90%; }
.grid.col-95{ width: 95%; }
.grid.col-100{ width: 100%; }

.list-unstyled{
    padding: 0;
    margin:0;
    list-style: none;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    display:none;
}

.collapsable{
    display:table;
}
@media screen and (max-width: 680px){
    .collapsable.collapse {
        display: none;
        height: auto;
        overflow: visible;
    }
}

.hr{
    height:1px; 
    width:98%; 
    margin:.4em auto .6em auto; 
    border-top:1px solid #9a9a9a; 
    border-bottom:1px solid #eeeeee; 
}
/*used to make certain containers look scrollable */
.inset-shadow {
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    margin-bottom:-1px;
}


.form-control{
    padding: 6px 12px;
    font-size: 1.2rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
}
.btn{
    display: inline-block;
    margin-right:.5em;
    margin-bottom: 0;
    padding:2px 4px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-image: none;
}
a.btn{ 
    display: inline-block;
    overflow:hidden;
    text-decoration: none;
}
a.btn:hover{ 
    
}
.btn-default{
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #ccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    border-color: #adadad;
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.btn-square{
    border:1px solid #999;
    background-color: #efefef;
    font-size:1.2rem;
    border-radius:0px;
    padding:3px 6px;
}
.btn-square:hover, .btn-square:focus, .btn-square:active, .btn-square.active{
    border:1px solid #666;
    background-color: #ddd;
    background-position: 0 -15px;
    color:#333;
}
.btn-square-sm{
    font-size:.9rem;
    font-weight:bold;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    border-radius:0px;
    padding:0;
    width:45px;
    height:18px;
    line-height:16px;
    vertical-align: middle;
}
.btn-square-sm:hover, .btn-square-sm:focus, .btn-square-sm:active{
    
}
.btn-square-sm.orange{
    border-top:1px solid #ffccaa;
    border-left:1px solid #ffccaa;
    border-right:1px solid #552200;
    border-bottom:1px solid #552200;
    background-color: #ff6600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.btn-square-sm.orange:hover, .btn-square-sm.orange:focus, .btn-square-sm.orange:active{
    background-color: #ca5100;
    color:#fff;
}
.btn-square-sm.blue{
    border-top:1px solid #93aae0;
    border-left:1px solid #93aae0;
    border-right:1px solid #061335;
    border-bottom:1px solid #061335;
    background-color: #0136b6;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.btn-square-sm.blue:hover, .btn-square-sm.blue:focus, .btn-square-sm.blue:active{
    background-color: #2a67fc;
    color:#fff;
}

/*** data tables ***/
.static-table{
    padding:6px;
    line-height: 14px;
    vertical-align: middle;
    
    border:1px solid #999;
    margin: 1em 0 ;
    border-collapse: collapse;
    border:1px solid #999;
    width:auto;
    text-align: left;
}
.static-table th{
    background-color:#afdef7;
    border:1px solid #999;
    padding:6px;
    text-align: center;
}
.static-table tbody tr td{
    text-align: left;
    padding:6px;
    border:1px solid #999;
}
.static-table tr:nth-of-type(even){
    background-color:#eee;
}
@media screen and (max-width:500px){
    .static-table{
        width:100%;
    }
}

.data-table{
    margin: 1em 0 ;
    width:auto; 
    font-size:1.2rem;
    border-collapse: collapse;
}
.data-table thead{
    font-weight:bold;
}
.data-table thead th{
    padding:6px;
    line-height: 14px;
    vertical-align: middle;
    background-color:#afdef7;
    border:1px solid #999;
}
.data-table tbody{
    background-color:#fff;
}
.data-table tr{
    background-color:#f5f5f5;
}
.data-table tr:nth-of-type(even){
    background-color:#dddddd;
}
.data-table tr td{
    line-height: 14px;
    vertical-align: middle;
    text-align:center;
    padding:6px;
    border:1px solid #999;
}
.data-table tr td:first-of-type{
    text-align:left;
    padding-left:6px;
}
.data-table tbody td a{color:#333;}

@media screen and (max-width: 640px) {

    /* Force table to not be like tables anymore */
    .data-table, .data-table thead, .data-table tbody, .data-table th, .data-table tr, .data-table td {
        display: block;
        width:100%
    }

    /* Hide table headers  */
    .data-table thead {
        display:none;
    }
    .data-table tbody tr{
        margin-bottom:.5em;
        background-color:#f5f5f5;
    }
    .data-table tbody tr:nth-of-type(even){
        background-color:#f5f5f5;
    }
    
    .data-table tbody tr td{
        position: relative;
        border: 1px solid #999;
        border-top:0px;
        padding-left: 45%; 
        white-space: normal;
        text-align:left;
    }
    .data-table tbody tr td:first-of-type{
        background-color:#b0c4de;
        padding:4px 4px;
        padding-left: 45%;
        border-top: 1px solid #999;
    }
    .data-table tbody tr td:before {
        position: absolute;
        left: 6px;
        width: 40%;
        white-space: nowrap;
        text-align:right;
        font-weight: bold;
        content: attr(data-title); 
    }
}
/*** end data tables ***/


/* scrollable table classes */
/* swipe to scroll indicator */
.scroll-indicator{
    display: block;
    font-size:10px;
    text-align:center;
    padding-left:145px;
}
.scroll-indicator span{
    font-size:11px;
    line-height:10px;
    vertical-align: top;
}
.scroll-indicator span:first-of-type{ float:left; }
.scroll-indicator span:last-of-type{ float:right; }
/* end swipe to scroll indicator */

.scroller-table-wrapper {
    position: relative;
}
.scroller-table-container {
    margin-left: 145px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: calc(100% - 145px);
    border-right: 1px solid grey;
}
.scroller-table {
    border: none;
    border-right: solid 1px #ccc;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1rem;
    color: #333;
}
.scroller-table thead th {
    background-color: #ddd;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
}
.scroller-table thead th:first-of-type{
    background-color:#999;
}
.scroller-table thead th:not(.sticky-col) {
    background-color:#9bdaf1;
}
.scroller-table tbody td {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    text-align: center;
    padding: 4px;
    white-space: nowrap;
}
.scroller-table .sticky-col {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid #666;
    left: 0;
    position: absolute;
    top: auto;
    width: 145px;
    text-align: left;
    background-color:#eee;
}
.scroller-table .sticky-col:first-of-type{
    font-weight:bold;
}
.scroller-table tr.hour{
    background-color: #ddd;
    font-weight: bold;
}
.scroller-table tr:last-of-type{
    border-bottom: 1px solid grey;
}
/* scrollable table classes */



.hidden{display:none !important; }
.noscript{ text-align:center; color:red; font-weight:bold;}
a.no-underline{text-decoration:none;}

@media screen and (max-width: 480px) {
    .hiddenForMobile{display:none !important;}
}

.row{
    display:block;
    clear: both;
}
.fullRow{
    display:block;
    clear: both;
}



/* for View Full Site band */
#view-options {
  display: block;
  position: fixed;
  z-index: 500;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding: .5em;
  text-align: center;
  background-color: rgba(0, 88, 166, 0.7);
}
#view-full {
  display: block;
  color: #fff;
  font-weight: bold;
}
#view-mobile {
  display: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
}
/* end View Full Site
